.downarrow{
    position: absolute;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.uparrow{
    position:absolute;
    align-items: center;
    top:10px;
    left: 60%;
    margin-left:-150px;
}