.dark{
    background-color: #2b2b2b;
    border-radius: 10%;
    justify-content: center;
}

.light{
    background-color: #dfdfdf;
    border-radius: 10%;
    justify-content: center;
}

.info{
    justify-content: center;
    padding: 2vh .5vh;
    display: flex;
}

.personal{
    float: left;
}