
.nav-link{
    text-decoration: none;
    padding: 3vh
    
}
.nav-link:hover{
    transform: scale(1.03);
    color: rgb(96, 178, 226);
}

.nav-items{
    text-align: center;
}
.navbar-contents{
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.navbar-container{
    width: 100vw;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.mobile{
    width: 100vw;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}