.nav-link {
    text-decoration: none;
    padding-top: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 110%;

}

.nav-link:hover {
    transform: scale(1.03);
    color: rgb(96, 178, 226);
}

.nav-items {
    text-align: center;
}

.navbar-container {
    width: 100vw;
    height: 10vh;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

@media (max-width:600) {
    .menudrop {
        display: none;
    }

    .nav-link {
        font-size: 100%;
    }
}