*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    margin: 50px;
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
    background-color: lightblue;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    top:0;
    position: relative;
    left: 400px;
    animation: block 3s infinite linear;
    z-index: 3;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 3s infinite linear;
    background-color: lightblue;
    z-index: 4;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
    z-index: 5;
}
#cloud{
    width:100px;
    height:50px;
    border-radius:30%;
    position: relative;
    background-color: lightblue;
    z-index: 2;
}

#cloud2{
    width:200px;
    height:100px;
    border-radius:30%;
    position: relative;
    background-color: lightblue;
    z-index: 1;
}

#wrapper{
    width:100px;
    height:50px;
    position: absolute;
    top: 30px;
    left: 800px;
    border-radius:30%;
    animation: wrapper 8s infinite linear;
}

@keyframes wrapper{
    0%{left: 500px}
    100%{left:-200px}
}

#wrapper2{
    width:200px;
    height:100px;
    position: absolute;
    top: 70px;
    left: 400px;
    border-radius:30%;
    animation: wrapper 6s infinite linear;
}

@keyframes wrapper2{
    0%{left: 600px}
    100%{left:-150px}
}